* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url(chatka_male-768x281.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    background-color: hsla(0,0%,0%,0.17); 
    background-blend-mode: overlay;

    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* padding-top: 5rem; */
}

.buttons__section {
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;

    /* margin: 0 auto; */
    max-width: 1100px;
    width: 65%;
}

.custom__button {
    background-color: transparent;
    border: transparent;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    opacity: 0.7;
}

.custom__button i {
    display: block;
    font-size: 3rem;
    margin: 1rem 0;
}

.intro__content {
    background-color: white;
    opacity: 0.7;
    padding: 0 1em;
    width: 30%;
}

.intro__content p:last-child {
    font-weight: bolder;
}