* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.buttons__section {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;

    /* margin: 0 auto; */
    max-width: 1100px;
    width: 65%;
}

.custom__button {
    background-color: white;
    border: 0;
    border-radius: 1em;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    opacity: 0.7;
}

.custom__button i {
    display: block;
    font-size: 3rem;
    margin: 1rem 0;
}

.intro__content {
    background-color: white;
    opacity: 0.7;
    padding: 1em;
    width: 30%;
}

.body__backgroud {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    opacity: 0.3;
    width: 1536px;
}